        <script src="../../public/js/map.js"></script>
        <script src="../../public/js/firebase.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7wxdGNUFPvlB2U2Y3xKF11QNxsCIytk&callback=initMap"></script>
    </body>
</html>