<!DOCTYPE html>
<html>
    <head>
        <title>Dolly</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='../../public/stylesheets/style.css'>
        <link rel='stylesheet' href='../../public/stylesheets/styleindex.css'>
        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBLMwlWDg7MhG5gSlE_TZSVvEORLZPPMCc",
                authDomain: "dolly-e7b16.firebaseapp.com",
                databaseURL: "https://dolly-e7b16.firebaseio.com",
                projectId: "dolly-e7b16",
                storageBucket: "dolly-e7b16.appspot.com",
                messagingSenderId: "572619895261"
            };
            firebase.initializeApp(config);
        </script>
    </head>
    <body>
        <div class="hero-image">
            <div class="hero-text">
                <a href="/"><h1 style="font-size:45px">Dolly</h1></a>
            </div>
        </div>