<div class="column left">
    <h2>Menu</h2>
    <a href="/vehicles" id="vehicles">Vehicles</a><br>
    <a href="/transactions" id="trips">Transactions</a><br><br>
    <hr class="hr">
    <h2>Account</h2>
    <a href="/profile">Profile</a><br>
    <a href="" id="" onclick="logout()">Logout</a>
</div>