<<<<<<< HEAD
<% include partials/head.ejs %>

<script>
    /**
     * Restricted access function
     *
     * If user is logged in, it does nothing
     * if user is not logged in, then it redirects back to home page.
     */
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log('Stay in this page');
        } else {
            console.log('Redirect!!! you cant see this page');
            window.location = '/';
        }
    });
</script>

=======
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBLMwlWDg7MhG5gSlE_TZSVvEORLZPPMCc",
            authDomain: "dolly-e7b16.firebaseapp.com",
            databaseURL: "https://dolly-e7b16.firebaseio.com",
            projectId: "dolly-e7b16",
            storageBucket: "dolly-e7b16.appspot.com",
            messagingSenderId: "572619895261"
        };
        firebase.initializeApp(config);
    </script>
</head>
>>>>>>> 84101245d532d8fdb3e2a9eb543397876e710171
<body>

<div class="row">
  <div class="column left" style="white">
    <h2>Main Menu</h2>
	<a href="" id="dashboard">Dashboard</a>
	<br>
	<a href="" id="admin">Admin</a>
	<br>
	<a href="" id="drivers">Drivers</a>
	<br>
	<a href="" id="vehicles">Vehicles</a>
	<br>
	<a href="" id="trips">Trips</a>
      <br>
      <a href="" id="" onclick="logout()">Logout</a>
  </div>
  <div class="column middle" style="background-color:#bbb;">
    <h2>Google Map</h2>
	
<iframe src="https://www.google.com/maps/embed?pb" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
  <div class="column right" style="white;">
    <h2>Routes</h2>
  </div>
</div>
<script src="../public/js/firebase.js"></script>
</body>
</html>