<% include partials/head.ejs %>

<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/styleindex.css' />-->
    <!--<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>-->
    <!--<script>-->
        <!--// Initialize Firebase-->
        <!--var config = {-->
            <!--apiKey: "AIzaSyBLMwlWDg7MhG5gSlE_TZSVvEORLZPPMCc",-->
            <!--authDomain: "dolly-e7b16.firebaseapp.com",-->
            <!--databaseURL: "https://dolly-e7b16.firebaseio.com",-->
            <!--projectId: "dolly-e7b16",-->
            <!--storageBucket: "dolly-e7b16.appspot.com",-->
            <!--messagingSenderId: "572619895261"-->
        <!--};-->
        <!--firebase.initializeApp(config);-->
    <!--</script>-->

  <!--</head>-->

<script>
    /**
     * Restricted access function
     *
     * If user is logged in, it does nothing
     * if user is not logged in, then it redirects back to home page.
     */
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log('Stay in this page');
        } else {
            console.log('Redirect!!! you cant see this page');
            window.location = '/login';
        }
    });
</script>

<body>

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:45px">Dolly</h1>
    </div>
</div>

<div class="row">
    <div class="column left" style="">
        <h2>Main Menu</h2>
        <a href="/drivers" id="drivers">Drivers</a>
        <br>
        <br>
        <a href="/vehicles" id="vehicles">Vehicles</a>
        <br>
        <br>
        <a href="/trips" id="trips">Trips</a>
        <br>
        <br>
        <a href="/account">Account</a>
        <br>
        <br>
        <a href="" id="" onclick="logout()">Logout</a>
    </div>
    <div class="column middle" style="background-color:#bbb;">
        <h2>Google Map</h2>
        <div id="map"></div>

        <!--<div class="map">-->
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.625335541389!2d-8.53575768448666!3d51.886051290768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x484491de5fdd3135%3A0xc15ee797da7bd2f6!2sCork+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1540380831502" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        <!--</div>-->
    </div>
    <div class="column right" style="white;">
        <h2>Transactions</h2>
        <a href="" id="journey_cost">Journey Cost</a>
        <br>
        <br>
        <a href="" id="past_journeys">Past Journeys</a>
        <br>
        <br>
        <a href="" id="past_receipts">Past Receipts</a>
        <br>
        <br>
        <a href="" id="routes">Routes</a>
    </div>
</div>




<!--<input type="email" placeholder="Email..." id="email_field" />-->
<!--<input type="password" placeholder="Password..." id="password_field" />-->

<!--<button onclick="login()">Login to Account</button>-->

<!--<div id="log">-->
  <!--<h2>Login</h2>-->
  <!--<button id="log" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>-->
<!--</div>-->
<!--<div id="id01" class="modal">-->

  <!--<div class="container">-->

    <!--<label for="email"><b>Email</b></label>-->
    <!--<input type="text" placeholder="Enter Username" id="email-l" name="email" required>-->

    <!--<label for="psw"><b>Password</b></label>-->
    <!--<input type="password" placeholder="Enter Password" id="password-l" name="password" required>-->

    <!--<button type="submit" onclick="login()">Login</button>-->
    <!--<label>-->
      <!--<input type="checkbox" checked="checked" name="remember"> Remember me-->
    <!--</label>-->
  <!--</div>-->

  <!--<div class="container" style="background-color:#f1f1f1">-->
     <!--<button type="button" onclick="document.getElementById('id01').style.display='none'"-->
	 <!--class="cancelbtn">Cancel</button>-->
    <!--<span class="psw">Forgot <a href="#">password?</a></span>-->
  <!--</div>-->

<!--</div>-->

<!--<div id="reg">-->
  <!--<h2>Register</h2>-->
  <!--<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>-->
<!--</div>-->

<!--<div id="id02" class="modal">-->



  <!--<div class="container2">-->
    <!--<label for="email"><b>E-mail</b></label>-->
    <!--<input type="text" placeholder="Enter E-mail" id="email-r" name="email" required>-->

    <!--<label for="psw"><b>Password</b></label>-->
    <!--<input type="password" placeholder="Enter Password" id="password-r" name="psw1">-->
        <!---->
    <!--<button type="submit" onclick="register()">Sign up</button>-->
  <!--</div>-->

  <!--<div class="container2" style="background-color:#f1f1f1">-->
    <!--<button type="button" onclick="document.getElementById('id02').style.display='none'"-->
	 <!--class="cancelbtn">Cancel</button>-->
	<!--</div>-->

<!--</div>-->
<!--<br>-->

<script>
    function initMap() {

        // Map options
        var options = {
            zoom: 13,
            center: {lat: 51.9543, lng: -7.8472}
        }

        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);

        // Listen for click on map
        google.maps.event.addListener(map, 'click', function (event) {
            // Add marker
            addMarker({coords: event.latLng});
        });

        // Array of markers
        var markers = [
            {
                coords:{lat: 51.941080, lng: -7.823244},
                iconImage: 'https://cdn3.iconfinder.com/data/icons/forum-emoticons-2-20x20/20/Auto.png',
                content: '<h1>Most Spectacular Beach in the World!</h1>'
            },
            {
                coords:{lat: 51.952757, lng: -7.846762},
                content: '<h1>Clock Gate</h1>'
            },
            {
                coords:{lat: 51.947059, lng: -7.842366},
                content: '<h1>Green Park</h1>'
            }

        ];

        // Loop through markers
        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }

        // Add marker function
        function addMarker(property) {
            var marker = new google.maps.Marker({
                position: property.coords,
                map: map,
                // icon: property.iconImage
            });

            // Check for custom icon
            if (property.iconImage) {
                marker.setIcon(property.iconImage);
            }

            // Check for content
            if (property.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: property.content
                });

                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });
            }
        }
    }
</script>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function check()
{
	if (document.getElementById('psw1').value === 
	document.getElementById('psw2').value)
	{
		document.getElementById('message').innerHTML = "match";
	}
	else
	{
		document.getElementById('message').innerHTML = "no match";
	}
}
</script>
<script src="../public/js/firebase.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7wxdGNUFPvlB2U2Y3xKF11QNxsCIytk&callback=initMap"></script>

  </body>
</html>