<% include partials/header.ejs %>

    <script>
        /**
         * Restricted access function
         *
         * If user is logged in, it does nothing
         * if user is not logged in, then it redirects back to home page.
         */
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                console.log('Stay in this page');
            } else {
                console.log('Redirect!!! you cant see this page');
                window.location = '/login';
            }
        });
    </script>
    <body>
        <div class="hero-image">
            <div class="hero-text">
                <h1 style="font-size:45px">Dolly</h1>
            </div>
        </div>
        <div class="row">
            <div class="column left" style="">
                <h2>Main Menu</h2>
                <a href="/vehicles" id="vehicles">Vehicles</a>
                <br>
                <br>
                <a href="/trips" id="trips">Trips</a>
                <br>
                <br>
                <a href="/account">Account</a>
                <br>
                <br>
                <a href="" id="" onclick="logout()">Logout</a>
            </div>
            <div class="column middle" style="background-color:#bbb;">
                <h2>Google Map</h2>
                <div id="map"></div>
            </div>
        </div>
        <script src="../public/js/map.js"></script>
        <script src="../public/js/firebase.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7wxdGNUFPvlB2U2Y3xKF11QNxsCIytk&callback=initMap"></script>
    </body>
</html>