<<<<<<< HEAD
<% include partials/head.ejs %>
=======
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleindex.css' />
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBLMwlWDg7MhG5gSlE_TZSVvEORLZPPMCc",
            authDomain: "dolly-e7b16.firebaseapp.com",
            databaseURL: "https://dolly-e7b16.firebaseio.com",
            projectId: "dolly-e7b16",
            storageBucket: "dolly-e7b16.appspot.com",
            messagingSenderId: "572619895261"
        };
        firebase.initializeApp(config);
    </script>

  </head>


  >>>>>>> 84101245d532d8fdb3e2a9eb543397876e710171
	

<body>

<h3 id="google-displayName"></h3>
<img id="google-pic" src="">
<p id="google-email"></p>
<a href="" id="out" onclick="logout()">Logout</a>



<!--<input type="email" placeholder="Email..." id="email_field" />-->
<!--<input type="password" placeholder="Password..." id="password_field" />-->

<!--<button onclick="login()">Login to Account</button>-->

<div id="log">
  <h2>Login</h2>
  <button id="log" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
</div>
<div id="id01" class="modal">

  <div class="container">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" id="email-l" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password-l" name="password" required>

    <button type="submit" onclick="login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
     <button type="button" onclick="document.getElementById('id01').style.display='none'"
	 class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

</div>

<div id="reg">
  <h2>Register</h2>
  <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
</div>

<div id="id02" class="modal">



  <div class="container2">
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="Enter E-mail" id="email-r" name="email" required>
	
	<label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password-r" name="psw1">
        
    <button type="submit" onclick="register()">Sign up</button>
  </div>

  <div class="container2" style="background-color:#f1f1f1">
    <button type="button" onclick="document.getElementById('id02').style.display='none'"
	 class="cancelbtn">Cancel</button>
	</div>

</div>
<br>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function check()
{
	if (document.getElementById('psw1').value === 
	document.getElementById('psw2').value)
	{
		document.getElementById('message').innerHTML = "match";
	}
	else
	{
		document.getElementById('message').innerHTML = "no match";
	}
}
</script>
<script src="../public/js/firebase.js"></script>
	<a href="dashboard">Dashboard</a>
  </body>
</html>