<% include partials/header.ejs %>

    <script>
        /**
         * Restricted access function
         *
         * If user is logged in, it does nothing
         * if user is not logged in, then it redirects back to home page.
         */
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                console.log('Stay in this page');
                window.location = '/';
            } else {
                console.log('Redirect!!! you cant see this page');
                // window.location = '/';
            }
        });
    </script>
    <div class="row">
        <div class="column left">
            <h2>Login</h2>
            <a href="/login">Login</a>
        </div>
        <div class="column middle">
            <div class="container">
                <h2>Register</h2>
                <label for="email"><b>E-mail</b></label>
                <input type="text" placeholder="Enter E-mail" id="email-r" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="password-r" name="psw1">

                <button type="submit" onclick="register()">Sign up</button>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>