<% include partials/head.ejs %>


<script>
    /**
     * Restricted access function
     *
     * If user is logged in, it does nothing
     * if user is not logged in, then it redirects back to home page.
     */
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log('Stay in this page');

        } else {
            console.log('Redirect!!! you cant see this page');
            window.location = '/';
        }
    });
</script>





<script src="../public/js/firebase.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7wxdGNUFPvlB2U2Y3xKF11QNxsCIytk&callback=initMap"></script>
	<!--<a href="dashboard">Dashboard</a>-->
  </body>
</html>