<% include partials/header.ejs %>

    <script>
        /**
         * Restricted access function
         *
         * If user is logged in, it does nothing
         * if user is not logged in, then it redirects back to home page.
         */
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                console.log('Stay in this page');

            } else {
                console.log('Redirect!!! you cant see this page');
                window.location = '/';
            }
        });


        var ref = firebase.database().ref().child('/Cars');

        ref.on("value", function(snapshot) {
            console.log(snapshot.val());
            snapshot.forEach(snap => {
                var lat = snap.child("lat").val();
                var lng = snap.child("lng").val();
                var reg = snap.child("reg").val();
                var charge = snap.child("charge").val();
                var mileage = snap.child("mileage").val();

                console.log(lat, lng);

                // Find a <table> element with id="myTable":
                var table = document.getElementById("table");

                // Create an empty <tr> element and add it to the 1st position of the table:
                var row = table.insertRow(0);

                // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                var latCell = row.insertCell(0);
                var lngCell = row.insertCell(1);
                var regCell = row.insertCell(2);
                var chargeCell = row.insertCell(3);
                var mileageCell = row.insertCell(4);

                // Add some text to the new cells:
                latCell.innerHTML = lat;
                lngCell.innerHTML = lng;
                regCell.innerHTML = reg;
                chargeCell.innerHTML = charge;
                mileageCell.innerHTML = mileage;
            });

        }, function (error) {
            console.log("Error: " + error.code);
        });

    </script>
    <div class="row">
        <% include partials/navigation.ejs %>
        <div class="column middle">
            <div class="container">
                <div class="table-tr">
                    <table>
                        <tr>
                            <th>Lat</th>
                            <th>Lng</th>
                            <th>Reg Num</th>
                            <th>Charge</th>
                            <th>Mileage (km)</th>
                        </tr>
                    </table>
                </div>
                <table id="table"></table>
            </div>
        </div>
    </div>

<% include partials/footer.ejs %>