html
{
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body, html
{
    height: 100%;
    margin: 0;
}

a
{
    color: gold;
}
a:visited
{
    color: firebrick;
}

/* Create three columns that float next to each other */
.column 
{
    float: left;
    padding: 10px;
    height: 700px;
}
.left, .right 
{
  width: 15%;
}

.middle 
{
    text-align: center;
    width: 60%;
}

#map {
    height: 615px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    color: black;
}

#over_map {
    position: absolute;
    top: 10px;
    left: 89%;
    z-index: 99;
    background-color: #ccffcc;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.row
{
    font-size: 20px;
}
.hero-image {
    background-image: linear-gradient(rgba(42, 255, 0), rgba(0, 0, 0));
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  iframe
  {
      width: 95%;
      height: 450px;
  }